<!-- _includes/header.html -->
<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="site-branding">
      <a href="{{ '/' | relative_url }}" class="logo-link">
        <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Logo" class="logo">
        <span class="site-title">x-stats</span>
      </a>
      <!-- Temporarily hide or shorten the subtitle if necessary -->
      <!-- <p class="site-subtitle">An attempt at becoming an x-pert in football data analytics</p> -->
    </div>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
      </ul>
    </nav>
  </div>
</header>
